@media (min-width: 992px){
div.sidebar.col-md-4 {
    float: right !important;
        width: 162px !important;
}
aside.mm-wrapper{
    display:block !important;
    }
}
@media (min-width: 1200px){
    div.sidebar.col-md-4 {
float: right !important;
        width: 162px !important;

    }
    article{width:50% !important;
    float:left !important;}
    aside.mm-wrapper{
    display:block !important;
    }
}

@media (min-width: 768px){
div.sidebar.col-md-4{
  float:right;
  width:162px;
}
aside.mm-wrapper{
    display:block;
    }
}
@media (min-width: 600px){
div.sidebar.col-md-4{
  float:left;
  width:100%;
}
    article{

    width:100%;
    }
    aside.mm-wrapper{
    display:none;
    }
   div.mm-panels.nav {
		position: relative;
		min-height: 40px;
	}	
	div.mm-panels.nav ul {
		width: 180px;
		padding: 5px 0;
		position: absolute;
		top: 0;
		left: 0;
		border: solid 1px #aaa;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	div.mm-panels.nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	div.mm-panels.nav .current {
		display: block; /* show only current <li> item */
	}
	div.mm-panels.nav a {
		display: block;
		padding: 5px 5px 5px 32px;
		text-align: left;
	}
	div.mm-panels.nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
	div.mm-panels.nav ul:hover {
		background-image: none;
	}
	div.mm-panels.nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	

}

div.profile p{
text-align: justify;

}
div.profile p a{
float:right;

}
div.profile ul{

  list-style: none;
  padding-left: 0px;
}
h3.name{
  margin-bottom: 30px !important;
}


@media (min-width: 992px)
.col-md-4 {
    width: 33.3333%;
}

div.profile img{
  margin-bottom:20px;
}
img.arch{
  width:120px !important;
  height:100px !important;
      margin-top: 18px !important;
      float: left !important;
margin-right: 9px !important;
}
div#disqus_thread{
  float:left;
      width: 523px;
}
