@media (min-width: 992px){
div.sidebar.col-md-4 {
    float: right !important;
        width: 162px !important;
}
}
@media (min-width: 1200px){
    div.sidebar.col-md-4 {
float: right !important;
        width: 162px !important;
    
    }
    article{width:50% !important;
    float:left !important;}
}
@media (min-width: 700px){
article{
    width:100% !important;
    clear:left !important;}
}
div.profile p{
text-align: justify;

}
div.profile p a{
float:right;

}
div.profile ul{

  list-style: none;
  padding-left: 0px;
}
h3.name{
  margin-bottom: 30px !important;
}
article{
    width: 50% !important;}

@media (min-width: 992px)
.col-md-4 {
    width: 33.3333%;
}
div.sidebar.col-md-4{
  float:right;
  width:162px;
}
div.profile img{
  margin-bottom:20px;
}
img.arch{
  width:120px !important;
  height:100px !important;
      margin-top: 18px !important;
      float: left !important;
margin-right: 9px !important;
}
div#disqus_thread{
  float:left;
      width: 523px;
}
